Repository SteeltoeOSS/Documentation: changes, and which Azure pipelines are due for each by the changed paths.
All: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

Path conditions:
  CI/azure-pipelines-dev.yml: any file but: CI, README.md
  CI/azure-pipelines-master.yml: any file but: CI
  azure-pipelines-metadata.yaml: any of: azure-pipelines-metadata.yaml, Dockerfile-metadata
  azure-pipelines.yaml: any file but: README.md, docfx, azure-pipelines-metadata.yaml, build-metadata.sh, Dockerfile-metadata, metadata.conf

Added documentation for encryption resolver (#300)
  api/v4/configuration/encryption-resolver.md
  api/v4/toc.yml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update api/v4/discovery/hashicorp-consul.md
  api/v4/discovery/hashicorp-consul.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Consul - Update v4 docs about Metadata (#302)
  api/v4/discovery/hashicorp-consul.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Consul Discovery - Add docs for tagsAsMetadata
  api/v3/discovery/hashicorp-consul.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

update copyright
  template/steeltoe/partials/footer.tmpl.partial
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Control line break behavior in footer notices
  template/steeltoe/partials/footer.tmpl.partial
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

document configserver PollingInterval
  api/v3/configuration/config-server-provider.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

update bootstrap, jquery, copyright and local-mainsite url scheme to https
  template/steeltoe/partials/footer.tmpl.partial
  template/steeltoe/partials/head.tmpl.partial
  template/steeltoe/partials/navbar.tmpl.partial
  template/steeltoe/partials/scripts.tmpl.partial
  template/steeltoe/styles/main1.js
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update local build instructions and README
  .gitignore
  README.md
  docfx.json
  docfx.ps1
  docfx/Dockerfile
  docfx/docfx
  docfx/docfx_version
  docfx/install.sh
  docker-compose.yaml
  main-site.dev.json
  main-site.json
  main-site.localhost.json
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Updated README.md
  README.md
Due: CI/azure-pipelines-master.yml

Add reference to VS extension pack
  README.md
Due: CI/azure-pipelines-master.yml

Update local build instructions and README
  README.md
Due: CI/azure-pipelines-master.yml

Update docs/locations
  Dockerfile
  README.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Bump DocFX versions to 2.59.2
  docfx/docfx_version
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml

Defer making executable until installed
  docfx/Dockerfile
  docfx/docfx
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml

Initial migration to GitHub Actions and Azure App Service
  .github/workflows/build-APIdocs-layer.yml
  .github/workflows/build-base-layer.yml
  .github/workflows/build-site.yml
  Dockerfile
  Dockerfile-metadata
  Production.env
  Staging.env
  azure-pipelines-metadata.yaml
  azure-pipelines.yaml
  docfx/azure-pipelines.yaml
  kubernetes/defaults.yaml
  kubernetes/documentation.yaml
  metadata.json
  tool.properties
  yttw.sh
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

fix var location, reduce permissions, more workflows
  .github/workflows/build-APIdocs-layer.yml
  .github/workflows/build-base-layer.yml
  .github/workflows/build-site.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-deploy.yml
  .github/workflows/stage-prod-swap.yml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

update workflow triggers, drop run numbers from images that shouldn't be rebuilt every time
  .github/workflows/build-APIdocs-layer.yml
  .github/workflows/build-base-layer.yml
  .github/workflows/build-site.yml
  .github/workflows/pr-deploy.yml
  Dockerfile
  Dockerfile-metadata
  docfx/version
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

build and pipeline updates
  .github/workflows/build-APIdocs-layer.yml
  .github/workflows/build-and-stage.yml
  .github/workflows/build-base-layer.yml
  .github/workflows/build-site.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-deploy.yml
  Dockerfile
  Dockerfile-metadata
  README.md
  build-metadata.sh
  docfx.ps1
  docfx/Dockerfile
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

mark script executable
  Dockerfile-metadata
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml

readme updates
  README.md
Due: CI/azure-pipelines-master.yml

bring back Links and X-references section
  README.md
Due: CI/azure-pipelines-master.yml

feedback
  .github/workflows/pr-cleanup.yml
  README.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Migrate to GitHub Actions and Azure App Service (#312)
  .github/workflows/build-APIdocs-layer.yml
  .github/workflows/build-and-stage.yml
  .github/workflows/build-base-layer.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/stage-prod-swap.yml
  .gitignore
  Dockerfile
  Dockerfile-metadata
  Production.env
  README.md
  Staging.env
  azure-pipelines-metadata.yaml
  azure-pipelines.yaml
  build-metadata.sh
  docfx.json
  docfx.ps1
  docfx/Dockerfile
  docfx/azure-pipelines.yaml
  docfx/docfx
  docfx/docfx_version
  docfx/install.sh
  docfx/version
  docker-compose.yaml
  kubernetes/defaults.yaml
  kubernetes/documentation.yaml
  main-site.dev.json
  main-site.json
  main-site.localhost.json
  metadata.json
  tool.properties
  yttw.sh
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

markdown linting, fix path to SCDF k8s installation guide
  .markdownlint.json
  api/v3/stream/data-flow-stream.md
  api/v3/stream/stream-reference.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

disable search, toc tweaks
  metadata.json
  template/steeltoe/partials/navbar.tmpl.partial
  template/steeltoe/styles/main.css
  template/steeltoe/styles/main1.js
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml
