Repository SteeltoeOSS/Documentation: changes, and which Azure pipelines are due for each by the changed paths.
All: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

Path conditions:
  CI/azure-pipelines-dev.yml: any file but: CI, README.md
  CI/azure-pipelines-master.yml: any file but: CI
  azure-pipelines-metadata.yaml: any of: azure-pipelines-metadata.yaml, build-metadata.sh, Dockerfile-metadata, metadata.conf
  azure-pipelines.yaml: any file but: README.md, docfx, azure-pipelines-metadata.yaml, build-metadata.sh, Dockerfile-metadata, metadata.conf

Updated getting-started guide for v3.2-rc and .NET 6
  README.md
  guides/application-configuration/spring-config.md
  guides/get-to-know-steeltoe/exercise1.md
  guides/get-to-know-steeltoe/exercise2.md
  guides/get-to-know-steeltoe/exercise3.md
  guides/get-to-know-steeltoe/exercise4.md
  guides/get-to-know-steeltoe/index.md
  guides/get-to-know-steeltoe/summary.md
  guides/images/health-endpoint.png
  guides/images/info-endpoint.png
  guides/images/single-todoitem.png
  guides/images/trace-log.png
  guides/images/vs-configure-project.png
  guides/images/vs-create-project.png
  guides/images/vs-get-started.png
  guides/images/vs-new-proj.png
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update api/v3/circuitbreaker/hystrix.md
  api/v3/circuitbreaker/hystrix.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Updates to the Guide to be a bit more accurate
  guides/circuit-breaker/circuit-breaker.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update hystrix.md
  api/v3/circuitbreaker/hystrix.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

More minor changes
  api/v3/circuitbreaker/hystrix.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Apply suggestions from code review
  api/v3/management/metrics-endpoint.md
  api/v3/management/metrics.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Metrics updates with CR comments (#252)
  api/v3/management/metric-observers.md
  api/v3/management/metrics-endpoint.md
  api/v3/management/metrics.md
  api/v3/management/prometheus.md
  api/v3/toc.yml
  api/v3/tracing/distributed-tracing-exporting.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update azure-pipelines-metadata.yaml
  azure-pipelines-metadata.yaml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml

Update docfx/azure-pipelines.yaml
  docfx/azure-pipelines.yaml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml

Bump Steeltoe 3 to 3.2.0
  azure-pipelines-metadata.yaml
  metadata.conf
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml

Use env to configure link to MainSite
  Docker.env
  Dockerfile
  Staging.env
  default.env
  devhost.json
  docker/docker-entrypoint.d/70-documentation-site.sh
  host.json
  localhost.json
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update Docker compose to use env settings
  docker-compose.yaml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Bump Steeltoe 3 to 3.2.0 (#257)
  azure-pipelines-metadata.yaml
  metadata.conf
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml

Update the build to use metadata containing 3.2.0 sources
  Dockerfile
  azure-pipelines-metadata.yaml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

Update Docker instructions
  README.md
Due: CI/azure-pipelines-master.yml

Use env to configure link to MainSite
  Docker.env
  Dockerfile
  README.md
  Staging.env
  default.env
  devhost.json
  docker-compose.yaml
  docker/docker-entrypoint.d/70-documentation-site.sh
  host.json
  localhost.json
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update the build to use metadata containing 3.2.0 sources (#259)
  Dockerfile
  azure-pipelines-metadata.yaml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines-metadata.yaml, azure-pipelines.yaml

Update metadata image
  Dockerfile
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update metadata image (#260)
  Dockerfile
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Updat K8s deployments to configure DOC_ENVIRONMENT
  azure-pipelines.yaml
  docker/docker-entrypoint.d/70-documentation-site.sh
  kubernetes/defaults.yaml
  kubernetes/documentation.yaml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Updat K8s deployments to configure DOC_ENVIRONMENT (#261)
  azure-pipelines.yaml
  docker/docker-entrypoint.d/70-documentation-site.sh
  kubernetes/defaults.yaml
  kubernetes/documentation.yaml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Fixed broken links
  api/v3/stream/rabbit-binder.md
  api/v3/stream/standalone-stream-rabbitmq.md
  api/v3/stream/stream-reference.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Updated README.md
  README.md
Due: CI/azure-pipelines-master.yml

Added site output to .gitignore
  .gitignore
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Fixed typo
  articles/rss-TEST.xml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Fix DocFX warnings for blog article links
  articles/index.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Remove RSS reference
  README.md
  articles/rss-TEST.xml
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Updated VS Code extension
  README.md
Due: CI/azure-pipelines-master.yml

Removed link to deleted file rabbitmq-host.md
  api/v3/messaging/rabbitmq-intro.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update package references to Steeltoe 3.2.0
  api/v3/bootstrap/index.md
  api/v3/circuitbreaker/hystrix.md
  api/v3/configuration/cloud-foundry-provider.md
  api/v3/configuration/config-server-provider.md
  api/v3/configuration/kubernetes-providers.md
  api/v3/configuration/placeholder-provider.md
  api/v3/configuration/random-value-provider.md
  api/v3/discovery/initialize-discovery-client.md
  api/v3/logging/dynamic-logging-provider.md
  api/v3/logging/serilog-logger.md
  api/v3/management/metrics-endpoint.md
  api/v3/management/prometheus.md
  api/v3/management/springbootadmin.md
  api/v3/management/tasks.md
  api/v3/management/using-endpoints.md
  api/v3/security/credhub-api-client.md
  api/v3/security/jwt-authentication.md
  api/v3/security/mtls.md
  api/v3/security/redis-key-storage-provider.md
  api/v3/security/sso-oauth2.md
  api/v3/stream/rabbit-binder.md
  api/v3/stream/standalone-stream-rabbitmq.md
  api/v3/stream/stream-reference.md
  api/v3/tracing/index.md
  guides/cloud-management/distributed-tracing.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Adds "what's new" for Steeltoe 3.2.0
  articles/index.md
  articles/whats-new-in-steeltoe-32.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update PowerShell examples
  api/v3/management/metrics-endpoint.md
  api/v3/management/prometheus.md
  api/v3/management/tasks.md
  api/v3/tracing/index.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Move 3.2 announcement to releases
  articles/index.md
  articles/releases/steeltoe-3-2-whats-new.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Update rolling log
  api/v3/welcome/whats-new.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml

Fixed broken links (#264)
  api/v3/messaging/rabbitmq-intro.md
  api/v3/stream/rabbit-binder.md
  api/v3/stream/standalone-stream-rabbitmq.md
  api/v3/stream/stream-reference.md
  articles/index.md
Due: CI/azure-pipelines-dev.yml, CI/azure-pipelines-master.yml, azure-pipelines.yaml
